* {

    padding: 0;

    margin: 0;

    box-sizing: border-box;

    scroll-behavior: smooth;

    font-family: Arial, Helvetica, sans-serif;

}

*::selection {

    background-color: white;

    color: black;

}

body {

    background-position: center center;

    background-size: cover;

    background-repeat: no-repeat;

    background-color: black;

    color: white;

    transition: 100ms all;

}

.logo-incompleto {

    background-image: linear-gradient(to right, rgb(255, 179, 39), rgb(255, 27, 65));

}

.logo-completo {

    animation-name: logo-100-completo;

    animation-timing-function: ease-in-out;

    animation-iteration-count: infinite;

    animation-duration: 10s;

}

header {

    display: flex;

    padding: 2%;

    border-bottom: 2px solid white;

}

header .logo-cont h1 {

    color: transparent;

    background-clip: text;

}

@keyframes logo-100-completo {

    0% {

        background-image: linear-gradient(to right, rgb(255, 172, 18), rgb(255, 14, 54));

    }

    25% {

        background-image: linear-gradient(to right, rgb(219, 143, 2), rgb(206, 0, 34));

    }

    50% {

        background-image: linear-gradient(to right, rgb(255, 186, 57), rgb(206, 0, 34));

    }

    75% {

        background-image: linear-gradient(to right, rgb(219, 143, 2), rgb(206, 0, 34));

    }

    100% {

        background-image: linear-gradient(to right, rgb(255, 186, 57), rgb(206, 0, 34));

    }

}