* {

    padding: 0;

    margin: 0;

    box-sizing: border-box;

    scroll-behavior: smooth;

    transition: 100ms all;

    font-family: Arial, Helvetica, sans-serif;

}

header {

    display: flex;

    margin-bottom: 5%;

}

main article > section:nth-child(1) {

    display: flex;

    align-items: center;

    justify-content: center;

}

main article > section:nth-child(1) .calcont {

    display: flex;

    flex-direction: column;

    width: 20%;

    padding: 2%;

    border: 2px solid rgb(0, 102, 255);

    gap: 1rem;

}

main article > section:nth-child(1) .calcont input:disabled {

    width: 100%;

    padding: 4%;

    border: 2px solid blue;

    color: black;

}

main article > section:nth-child(1) .calcont .fila {

    display: flex;

    gap: 1rem;

}

main article > section:nth-child(1) .calcont .fila button {

    width: 100%;

    padding: 4%;

    border: 2px solid rgb(33, 0, 99);

    cursor: pointer;

}

main article > section:nth-child(1) .calcont .fila button:hover {

    border-color: blue;

}