* {

    padding: 0;

    margin: 0;

    box-sizing: border-box;

    scroll-behavior: smooth;

    transition: 100ms all;

    font-family: Arial, Helvetica, sans-serif;

}

body {

    background-position: center center;

    background-size: cover;

    background-repeat: no-repeat;

}

header {

    display: flex;

    margin-bottom: 4%;

}

main article > section:nth-child(1) {

    display: flex;

    flex-direction: column;

    align-items: center;

    justify-content: center;

}

main article > section:nth-child(1) .casillas {

    width: 10%;

    display: flex;

    align-items: center;

    justify-content: center;

}

main article > section:nth-child(1) .casillas .casilla {

    display: flex;

    width: 100%;

    padding: 20%;

    border: 2px solid black;

}

main article > section:nth-child(1) .casillas .desmarcada {

    background-color: white;

}

main article > section:nth-child(1) .casillas .marcada {

    background-color: rgb(40, 40, 40);

}