* {

    padding: 0;

    margin: 0;

    box-sizing: border-box;

    scroll-behavior: smooth;

    transition: 100ms all;

    font-family: Arial, Helvetica, sans-serif;

}

body {

    background-size: cover;

    background-position: center center;

    background-repeat: no-repeat;

}

header {

    display: flex;

    align-items: center;

    justify-content: space-between;

    background-color: black;

    border-bottom: 6px solid rgb(33, 33, 33);

    padding: 2%;

    color: white;

}

header nav {

    width: 30%;

    display: flex;

    align-items: center;

    justify-content: center;

    background-color: rgb(17, 17, 17);

    border: 2px solid white;

    padding: 2%;

}

header nav ul {

    width: 100%;

    display: flex;

    align-items: center;

    justify-content: space-between;

    list-style-type: none;

}

header nav ul li {

    width: 100%;

    display: flex;

    align-items: center;

    justify-content: center;

}

header nav ul li a {

    width: 100%;

    display: inline-block;

    color: white;

    text-align: center;

    font-size: 1.0rem;

    text-decoration-line: none;

    padding-bottom: 3%;

}

header nav ul li a:hover {

    border-bottom: 2px solid white;

}