* {

    padding: 0;

    margin: 0;

    box-sizing: border-box;

    scroll-behavior: smooth;

    font-family: Arial, Helvetica, sans-serif;

}

header {

    display: flex;

    align-items: center;

    justify-content: space-around;

}

header nav {

    display: flex;

}

header nav ul {

    display: flex;

    list-style-type: none;

}