* {

    padding: 0;

    margin: 0;

    box-sizing: border-box;

    scroll-behavior: smooth;

    font-family: Arial, Helvetica, sans-serif;

}

header {

    display: flex;

    align-items: center;

    justify-content: center;

    margin-bottom: 2%;

    padding: 1%;

}

header .nombreAlumno {

    display: flex;

    align-self: center;

}

main article > section:nth-child(1) {

    display: flex;

    align-items: center;

    justify-content: center;

}

main article > section:nth-child(1) .calcont {

    display: flex;

    flex-direction: column;

    width: 24%;

    gap: 1rem;

    border: 3px solid;

    border-image: linear-gradient(to right, rgb(0, 255, 119), rgb(0, 136, 255))1;

    background-color: rgb(237, 248, 255);

    padding: 2%;

}

main article > section:nth-child(1) .calcont input:disabled {

    padding: 3%;

    background-color: rgb(223, 251, 255);

    border: 2px solid rgb(4, 157, 212);

    font-size: 1.0rem;

}

main article > section:nth-child(1) .calcont .row {

    width: 100%;

    display: flex;

    gap: 1rem;

}

main article > section:nth-child(1) .calcont .row button {

    width: 100%;

    padding: 8%;

    border: 2px solid rgb(6, 147, 255);

    background-color: rgb(217, 243, 255);

    cursor: pointer;

    transition: 200ms all;

    border-radius: 8px;

}

main article > section:nth-child(1) .calcont .row button:hover {

    background-color: rgb(144, 220, 255);

}

.modo-claro {

    background-color: white;

}

.modo-oscuro {

    background-color: rgb(118, 118, 118);

}